# Ignore all application properties files
*.properties

# Ignore specific application properties files
application.properties
application.yml
application-dev.properties
application-prod.properties

# If you have a specific directory for config files
config/*.properties